@model TopicoViewModel

@{
    ViewData["Title"] = "Edição de Tópico";
    List<string>? foundTagIds = Model.TagLinks?.Select(tl => tl.TagId.ToString())?.ToList();
    string? selectedTags = foundTagIds?.Count() > 0 ? $"['{string.Join("', '", foundTagIds)}']" : "null";
}

<h4>Tópico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="col-sm-12">
            <strong>
                <label asp-for="Titulo" class="control-label"></label>
            </strong>
        </div>
        <div class="mx-3">@(Model.Titulo)</div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-12">
            <strong>
                <label asp-for="TipoAcesso" class="control-label col-sm-12"></label>
            </strong>
        </div>
        <div class="mx-3">@(Model.TipoAcesso)</div>
    </div>
    <div class="col-md-4">
        <div class="col-sm-12">
            <strong>
                <label asp-for="Usuario" class="control-label col-sm-12"></label>
            </strong>
        </div>
        <div class="mx-3">@(Model.AuthorName)</div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-4">
        <div class="col-sm-12">
            <strong>
                <label asp-for="DataCriacao" class="control-label"></label>
            </strong>
        </div>
        <div class="mx-3">@(Model.DataCriacao)</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="Status" class="form-control" />
            <strong>
                <label class="control-label col-sm-12">Tags</label>
            </strong>
            <select class="form-select multiple" id="tags" name="tags" asp-items="@((SelectList?)ViewData["TagSelect"])" multiple></select>
            <br />
            <input type="submit" value="Salvar" class="btn btn-primary mr-2" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>
<hr />
<div class="row mt-2">
    <div class="col-md-12">
        <div class="accordion accordion-flush" id="topicAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="commentHeader">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#commentCollapse"
                            aria-expanded="false"
                            aria-controls="commentCollapse">
                        Comentários do Tópico
                    </button>
                </h2>
                <div id="commentCollapse" class="accordion-collapse collapse" aria-labelledby="commentHeader" @*data-bs-parent="#topicAccordion"*@>
                    <div class="accordion-body" id="ajaxComment"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="contentHeader">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#contentCollapse"
                            aria-expanded="false"
                            aria-controls="contentCollapse">
                        Visualização de Conteúdo do Tópico
                    </button>
                </h2>
                <div id="contentCollapse" class="accordion-collapse collapse" aria-labelledby="contentHeader" @*data-bs-parent="#topicAccordion"*@>
                    <div class="accordion-body">
                        @(Model.Conteudo)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        const getCommentsForTopic = function () {
            const topicId = '@(Model.Id)';

            $.post('@Url.Action("ListforTopic", "Comentario")', { topicId: topicId }, function (data, status) {
                $('#ajaxComment').html(data);
            });
        };

        const toggleComment = function (id) {
            $.post('@Url.Action("ToggleStatus", "Comentario")', { id: id }, function (data, status) {
                getCommentsForTopic();
            });
        };

        $(document).ready(function () {
            const selectedTags = @Html.Raw(selectedTags);
            $('#tags').val(selectedTags);
            getCommentsForTopic();
        });
    </script>
}
